/* You can add global styles to this file, and also import other style files */
/* Le code ci-dessous pour le reset css de l'application*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "@angular/material/prebuilt-themes/deeppurple-amber.css"; /* Le theme qu'on va utiliser */

/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/

body {
    margin: 20px;
}
