/* Réinitialisation de certaines règles de style */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importation du thème d'Angular Material */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Définition des marges par défaut du corps de la page */
body {
    margin: 20px;
}