/* Conteneur principal */
section {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

/* Premier conteneur secondaire */
section header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
}

/* Filtres de recherche */
section > header nav {
	display: flex;
	flex-direction: column;
}

section > header nav .name_filter {
	width: 200px;
}

/* Statistiques de la page */
section > header aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

section > header aside p {
	margin: 0;
}

/* Tableau des devoirs */
table {
	width: 100%;
}

table .mat-mdc-form-field {
	font-size: 14px;
	width: 100%;
}

table .mat-mdc-no-data-row {
    margin: 1rem;
    display: inline-block;
}