<section>
	<!-- En-tête du composant -->
	<header>
		<nav>
			<!-- Filtre par nom (navigation) -->
			<mat-form-field class="name_filter">
				<mat-label>Filtrer par nom</mat-label>
				<input matInput type="text" (ngModelChange)="onUpdateNameFilter($event)" [(ngModel)]="nameFilter">

				<button *ngIf="nameFilter" matSuffix mat-icon-button aria-label="Clear" (click)="nameFilter=''; onUpdateNameFilter($event);">
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>

			<!-- Filtre par rendu/non-rendu -->
			<mat-checkbox class="rendu_filter" (change)="onUpdateRenduFilter()" [(ngModel)]="renduFilter">Afficher seulement les devoirs rendus ?</mat-checkbox>
		</nav>

		<aside>
			<!-- Statistiques de la page (contrôles annexes) -->
			<p>Nombre total de pages : <strong>{{totalPages}}</strong></p>
			<p>Nombre total de devoirs : <strong>{{totalDocs}}</strong></p>

			<!-- Bouton pour afficher le formulaire -->
			<button class="ajouterBtn" mat-flat-button color="accent" (click)="onAddAssignmentBtnClick()" *ngIf="isLogged">Ajouter un nouveau devoir</button>
		</aside>
	</header>

	<!-- Formulaire d'ajout d'un nouveau devoir -->
	<app-add-assignment *ngIf="formVisible"></app-add-assignment>

	<!-- Listage des devoirs -->
	<mat-list *ngFor="let assignment of assignments">
		<nav>
			<h3 mat-subheader>{{assignment.dateDeRendu | date:'dd/MM/yyyy'}}</h3>

			<mat-list-item (click)="assignmentClique(assignment)">
				<li appRendu *ngIf="assignment.rendu; else nonSoumis">{{assignment.nom}}</li>

				<ng-template #nonSoumis>
					<li class="nonSoumis">{{assignment.nom}} <strong>NON RENDU</strong></li>
				</ng-template>
			</mat-list-item>

			<app-assignment-detail [assignmentTransmis]="assignmentSelectionne" *ngIf="assignmentSelectionne === assignment"></app-assignment-detail>

			<mat-divider></mat-divider>
		</nav>
	</mat-list>
</section>