/* Conteneur principal */
section {
	display: flex;
	flex-direction: column;
}

/* Premier conteneur secondaire */
section header {
	display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* Filtres de recherche */
section > header nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

section > header nav .name_filter {
	width: 200px;
}

/* Statistiques de la page */
section > header aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

section > header aside p {
	margin: 0;
}

/* Tableau des devoirs */
.rendu {
	color: green;
	border: 1px solid black;
}

.nonRendu {
	color: red;
	border: 1px solid black;
}

.nonSoumis {
	background-color: red;
	border: 1px solid black;
}