/* Conteneur principal */
section {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

/* Premier conteneur secondaire */
section header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
}

section > header{
	display: flex;
	justify-content: space-around;
}
/* Filtres de recherche */
section > header nav {
	/* display: flex;
	flex-direction: column; */

	/* width: 100%; */
	/* margin-left: auto;
	margin-right: auto; */
}

section > header nav .name_filter {
	width: 200px;
}

/* Statistiques de la page */
section > header aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

section > header aside p {
	margin: 0;
}

/* Tableau des devoirs */
table {
	width: 100%;
}

table .mat-mdc-form-field {
	font-size: 14px;
	width: 100%;
}

table .mat-mdc-row .mat-mdc-cell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	cursor: pointer;
}

table .mat-mdc-row:hover .mat-mdc-cell {
	border-color: currentColor;
}

table .mat-mdc-no-data-row {
    margin: 1rem;
    display: inline-block;
}

tr.is-clicked {
	font-weight: bold;
}

table .mat-mdc-header-row{
	background-color: #3F51B5;
}
table .mat-sort-header{
	color: #fff;
}
