<div id="toolbar">
        <a routerLink="/home"><mat-icon aria-hidden="false" fontIcon="home"></mat-icon></a>
        <a routerLink="/log"><mat-icon aria-hidden="false" fontIcon="perm_identity"></mat-icon></a>
</div>

<mat-sidenav-container id="sidenav" mode="side">
    <mat-list>
        <mat-nav-list class="menuNav"><a routerLink="/">Liste des devoirs</a></mat-nav-list>
        <mat-nav-list class="menuNav"><a routerLink="/">Ajout d'un devoir</a></mat-nav-list>
        <mat-nav-list class="menuNav"><a routerLink="/">Modification d'un devoir</a></mat-nav-list>
        <mat-nav-list class="menuNav"><a routerLink="/">Suppression d'un devoir</a></mat-nav-list>
        <mat-nav-list class="menuNav"><a routerLink="/">Génération de données de test</a></mat-nav-list>
    </mat-list>
</mat-sidenav-container>
<p>{{titre}}</p> <!--titre vient du fichier .ts-->
<p>Nb total de pages: {{totalPages}}</p>
<p>Nb total d'assignments: {{totalDocs}}</p>

<div class="containerButtonPreviousNext">
    <button mat-raised-button color="primary"><<</button>&nbsp;
    <button mat-raised-button color="primary"><</button>&nbsp;
    <button mat-raised-button color="primary">></button>&nbsp;
    <button mat-raised-button color="primary">>></button>&nbsp;
</div>
<main class="container" *ngIf="!formVisible">
    <!--Boutton pour afficher le formulaire-->
    <button class="ajouterBtn" mat-flat-button color="accent"
    (click)="onAddAssignmentBtnClick()"
    >   Ajouter Assignment
    </button>
    <!-- <mat-list *ngFor="let assignment of assignments"></mat-list> -->


    <p *ngIf="dateRendu">{{nomDevoir}} date de rendu =  {{dateRendu | date:'dd/MM/yyyy'}}</p><!--le binding bi-directionnel-->

    <!--[ngStyle]="{'color': assignment.rendu ? 'green' : 'red'}"  (sans utiliser les classes en css) on met ça à l'intérieur du <div....>-->
    <!-- [ngClass]="{'rendu':assignment.rendu, 'nonRendu': !assignment.rendu}" (en utilisant des clases) on met ça à l'intérieur du <div....-->
    <mat-list *ngFor="let assignment of assignments"><!--assignments est le nom du tableau dans .ts -->
    <h3 mat-subheader>{{assignment.dateDeRendu | date:'dd/MM/yyyy'}}</h3>
    <mat-list-item (click)="assignmentClique(assignment)"><!--quand je clique, j'appelle la méthode assignmentClique()-->
    <li appRendu *ngIf="assignment.rendu; else nonSoumis">
        Devoir initulé {{assignment.nom}}, à rendre le {{assignment.dateDeRendu | date:'dd/MM/yyyy'}}, soumis par l'élève.
    </li>
    <ng-template #nonSoumis> <!--on créer un template avec l'identifiant nonsoumis-->
        <li class="nonSoumis">Le devoir {{assignment.nom}} n'a pas été rendu.</li>
    </ng-template>
    <mat-divider></mat-divider> <!--pour faire un trait horizontal-->
    
    </mat-list-item>
    </mat-list>

    <app-assignment-detail [assignmentTransmis]="assignmentSelectionne">

    </app-assignment-detail>
</main>

<!--event est l'assignment transmis par le fils
    onNouvelAssignment est une méthode du père qui récupère les données émises
-->
<app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)" 
    *ngIf="formVisible"
>
</app-add-assignment>