<p>Titre: {{titre}}</p> <!--titre vient du fichier .ts-->

<!--[ngStyle]="{'color': assignment.rendu ? 'green' : 'red'}"  (sans utiliser les classes en css)-->
<div *ngFor="let assignment of assignments"
     
     [ngClass]="{'rendu':assignment.rendu, 'nonRendu': !assignment.rendu}"

><!--assignments est le nom du tableau dans .ts -->
    <ul>
        <li *ngIf="assignment.rendu; else nonSoumis">
            Devoir initulé {{assignment.nom}}, à rendre le {{assignment.dateDeRendu}}, soumis par l'élève: {{assignment.rendu}}.
        </li>
        <ng-template #nonSoumis> <!--on créer un template avec l'identifiant nonsoumis-->
            <li>Le devoir {{assignment.nom}} n'a pas été rendu.</li>
        </ng-template>
        
    </ul>
</div>

