footer{
    display: flex;
    flex-direction: column;
}
#footer{
   
    background-color: #3F51B5;
    color: white;
    text-align: center;
}

/** STYLE SMARTPHONE **/
@media (hover: none), (max-width: 860px){
    #footer p{
        font-size: 70%;
    }
}