/* Liens et mécanismes de connexion */
main > header section:first-of-type {
	display: flex;
    justify-content: space-between;
}

/* Titre et logo du site */
main > header a {
	color: black;
}

main > header h1 {
	display: inline-block;
	font-size: 2rem;
	margin-top: 0;
}

main > header mat-icon {
	margin-right: 1rem;
}

/* Bouton de connexion/déconnexion */
main > header section:first-of-type div {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 1rem;
}

/* Formulaire de connexion */
main > header section:nth-of-type(2) {
	gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Séparateur */
main > hr {
	margin-bottom: 1.25rem;
}

.btnConnexion{
	margin-top: 5rem;
}
